<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>service-structure</title>
    <link rel="stylesheet" href="static/css/service_structure.css">
    <script>
        // 뒤로가기 버튼
        function goBack() {
        window.history.back();
        }

    </script>
</head>
<body>
    <img class="screen" src="static/img/배경테두리.png">
    <div class="container">
        <h1 class="title">
            Service structure
        </h1>
        <div class="structure">
            <img src="static/img/service_structure.png" alt="서비스구조도">
        </div>
        <!-- 뒤로가기 버튼 -->
        <button class="back-button" onclick="goBack()">
            <img src = "static/img/backbutton.png" alt="뒤로가기" class="back-icon">
        </button>
    </div>
</body>
</html>