/* 합주 생성 화면 (2.녹음 부분) */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9f4eb;
    font-family: Arial, sans-serif;
    position: relative;
}
 
.title {
    font-size: 50px;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px; /* 제목 아래 여백 */
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;  /* 전체 화면을 차지하도록 수정 */
    height: 50%; /* container가 화면 전체 높이를 차지하도록 설정 */
    padding: 20px;
}

/* 녹음 버튼 스타일 */
.record-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 210px;
    border-radius: 50%;
    background-color: #388e3c;
    position: relative;
    margin-top: -100px;
}

.record-button img {
    width: 100px;
    height: 100px;
}

.record-icon {
    width: 100px;  /* 플레이 아이콘 크기 */
    height: 100px; /* 플레이 아이콘 크기 */
    object-fit: contain; /* 이미지 크기에 맞춰 조정 */
}
